div .post p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 1.5em;
}

div .post .highlight {
    margin-bottom: 3em;
}

pre {
    margin-bottom: 20px;
}

@font-face {
    font-family: 'Molle';
    src: url("/fonts/Molle-Regular.ttf");
    font-weight: 400;
}

.font-molle {
    font-family: 'Molle', cursive, 'Arial';
    font-weight: 400;
}

.footer {
    margin-top: 20px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
}

.navbar-nav > li > a.navbar-link {
    color: #428bca;
}


